
.App {
  text-align: center;
  min-height: 80vh;
  padding: 0px;
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 75vw;
  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}


.TitleContainer {
  padding: 1vh 4vh 1vh 4vh;
}


