body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 10px;
  background-color: #fff; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: calc(10px + 2vmin);
}

/* body{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

button {
  padding: 10px 20px;
  font-size: 26px;
  font-family: "WestTexas";
  background-color: #4C9D8D;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
  width: auto;
}

button:hover {
  background-color: #3B7A6E;
}

/* .joke-container {
  font-size: 18px;
  margin-top: 20px;
  color: #2d2f45;
} */

.joke-container {
  font-size: 18px;
  margin-top: 20px;
  color: #2d2f45;
  max-width: 80vw; /* Set your desired maximum width */
  width: 100%; /* Ensure responsiveness */
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ChuckHeader {
  padding: 25px;
}

.ChuckOrangeText {
  color: #f15b23;
  font-size: 48px;
  font-weight: 300;
  margin: 0 0 10px;
  padding: 0;
  text-shadow: 1px 1px #222;
}

.Divider {
  background-color: #f0f0f0;
  /* margin: 10px; */
  padding: 15px 0px 0px 0px;
}

.DividerText {
  color: #2d2f45;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 0 0 25px;
  padding: 0;
  text-shadow: 0.5px 0.5px whitesmoke;
}

.ChuckFace {
  width: auto;
  height: auto;
}
